<div class='fixed-menu'>
  <div class='margin-container'>
    <div class='grid-container fixed-menu__grid'>
      <div class='fixed-menu__logo'>
        <a href="{{site.url}}">
          <svg viewBox='0 0 300 260'>
            <use xlink:href='#logo'></use>
          </svg>
        </a>
      </div>
      <div class='fixed-menu__toggle' data-js='menu__toggle'>
        <svg class='fixed-menu__background fixed-menu__icon' data-js='menu__background' preserveAspectRatio='none' viewBox='0 0 32 32'>
          <use xlink:href='#blob--01'></use>
        </svg>
        <svg class='fixed-menu__activate fixed-menu__icon' data-js='menu__activate' viewBox='0 0 32 32'>
          <use xlink:href='#icon--menu'></use>
        </svg>
        <svg class='fixed-menu__close fixed-menu__icon' data-js='menu__close' viewBox='0 0 32 32'>
          <use xlink:href='#icon--X'></use>
        </svg>
      </div>
      <div class='fixed-menu__nav' data-js='navigation__list'>
        <ul class='fixed-menu__nav__list'>
          <li class='fixed-menu__nav__item mobile__menu__element' data-js='navigation__list__item site__menu__element'>
            <a href="{{ '/' | relative_url }}">
              Episodes
            </a>
          </li>
          <li class='fixed-menu__nav__item mobile__menu__element' data-js='navigation__list__item site__menu__element'>
            <a href="{{ '/contributors' | relative_url }}">
              Contributors
            </a>
          </li>
          <li class='fixed-menu__nav__item mobile__menu__element' data-js='navigation__list__item site__menu__element'>
            <a href="{{ '/press' | relative_url }}">
              Press
            </a>
          </li>
          <li class='fixed-menu__nav__item mobile__menu__element' data-js='navigation__list__item site__menu__element'>
            <a href="{{ '/news' | relative_url }}">
              News
            </a>
          </li>
          <li class='fixed-menu__nav__item mobile__menu__element' data-js='navigation__list__item site__menu__element'>
            <a href="{{ '/contact' | relative_url }}">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class='fixed-menu__footer'>
        <div class='footer__social__container mobile__menu__element' data-js='social__button-container site__menu__element'>
          <a class='footer__social__icon' href='https://twitter.com/SocialMediateMe'>
            <svg>
              <use xlink:href='#icon--twitter'></use>
            </svg>
          </a>
          <a class='footer__social__icon' href='https://www.instagram.com/social.mediation/'>
            <svg>
              <use xlink:href='#icon--instagram'></use>
            </svg>
          </a>
        </div>
        <div class='fixed-menu__footer__copyright mobile__menu__element' data-js='footer__copyright site__menu__element'>
          The Fancy Dept. ©{{ 'now' | date: "%Y" }}
        </div>
      </div>
    </div>
  </div>
</div>
