<footer class="footer" data-js="footer">
  <div class='margin-container'>
    <div class='grid-container'>
      <div class="footer__header">
        Stay in touch!
      </div>
      <div class="footer__newsletter">
        <div class="footer__newsletter__label">
          Sign up for our newsletter to stay up-to-date on the latest in Social Mediation
        </div>
        <form class="footer__newsletter__form">
          <input type="text" name="" class="footer__newsletter__input" placeholder="Enter your email">
          <input type="submit" value="Sign up" class="footer__newsletter__submit">
      </div>
      <div class="footer__social">
        <div class="footer__header">
          Follow along!
        </div>
        <div class="footer__social__container">
          <a href="" class="footer__social__icon">
            <svg>
              <use xlink:href='#icon--twitter'></use>
            </svg>
          </a>
          <a href="" class="footer__social__icon">
            <svg>
              <use xlink:href='#icon--instagram'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__copyright">
        The Fancy Dept. ©2018
      </div>
    </div>
  </div>
</footer>
