<footer class="footer">
  <div class='margin-container'>
    <div class='grid-container'>
      <div class="footer__header">
        Stay in touch!
      </div>
      <div class="footer__newsletter">
        <div class="footer__newsletter__label">
          Sign up for our newsletter to stay up-to-date on the latest in Social Mediation
        </div>
        <form class="footer__newsletter__form">
          <input type="text" name="" class="footer__newsletter__input" placeholder="Enter your email">
          <input type="submit" value="Sign up" class="footer__newsletter__submit">
      </div>
    </div>
  </div>
</footer>
