<footer class="footer" data-js="footer">
  <div class='margin-container'>
    <div class='grid-container'>
      <div class="footer__header">
        Stay in touch!
      </div>
      <div class="footer__newsletter">
        <div class="footer__newsletter__label">
          Sign up for our newsletter to stay up-to-date on the latest in Social Mediation
        </div>
          {% include form.html %}
      </div>
      <div class="footer__social">
        <div class="footer__header">
          Follow along!
        </div>
        <div class="footer__social__container">
          <a href="https://twitter.com/SocialMediateMe" class="footer__social__icon">
            <svg>
              <use xlink:href='#icon--twitter'></use>
            </svg>
          </a>
          <a href="https://www.instagram.com/social.mediation/" class="footer__social__icon">
            <svg>
              <use xlink:href='#icon--instagram'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__copyright">
        The Fancy Dept. ©{{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
