<form action="https://show.us20.list-manage.com/subscribe/post" class="footer__newsletter__form" method="POST">
  <input type="hidden" name="u" value="e9e8eff7bbb2b9be83d97cbe8">
  <input type="hidden" name="id" value="7e976fc913">

  <input type="email" class="footer__newsletter__input" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Enter your email">
  <input type="submit" class="footer__newsletter__submit" name="submit" value="Sign me up">

  <input type="hidden" name="ht" value="6bddcbdf099966933ba969971775b885b82db066:MTU0OTI0MTUwNS4yMTE2">
  <input type="hidden" name="mc_signupsource" value="hosted">
</form>
