
<section class="post">
  <div class="post__date">
    {{include.date | date: "%b %-d, %Y" }}
  </div>
  <div class="post__title">
    {{ include.title }}
  </div>
  <div class="post__image">
    {{ include.image }}
  </div>
  <div class="post__body">
    <div class="post__content">
      {{ include.content }}
    </div>
    <div class="post__author">
      {% assign this-contributor = site.contributors | where: 'title', include.author | first %}
      {% include person-block--small.html image=this-contributor.image title=this-contributor.title %}
    </div>
  </div>
</section>
