<section class='subscribe' data-section='subscribe'>
    <div class='section__label type-size--M'>
        Subscribe
    </div>
    <div class='subscribe__button-container'>
        <a class='bttn bttn--subscribe bttn--green' href='www.youtube.com'>
            <svg class='icon bttn__icon'>
                <use xlink:href='#icon--spotify'></use>
            </svg>
            Spotify
            <br>
            Podcasts
        </a>
        <a class='bttn bttn--subscribe bttn--red' href='www.youtube.com'>
            <svg class='icon bttn__icon'>
                <use xlink:href='#icon--apple-podcasts'></use>
            </svg>
            Apple
            <br>
            Podcasts
        </a>
        <a class='bttn bttn--subscribe bttn--yellow' href='www.youtube.com'>
            <svg class='icon bttn__icon'>
                <use xlink:href='#icon--google-podcasts'></use>
            </svg>
            Google
            <br>
            Podcasts
        </a>
    </div>
</section>