<section class='subscribe' data-section='subscribe'>
  <a class='bttn bttn--subscribe bttn--green' href='www.youtube.com'>
    <svg class='icon bttn--subscribe__icon'>
      <use xlink:href='#icon--spotify'></use>
    </svg>
    Spotify
    <br>
    Podcasts
  </a>
  <a class='bttn bttn--subscribe bttn--red' href='www.youtube.com'>
    <svg class='icon bttn--subscribe__icon'>
      <use xlink:href='#icon--apple-podcasts'></use>
    </svg>
    Apple
    <br>
    Podcasts
  </a>
  <a class='bttn bttn--subscribe bttn--yellow' href='www.youtube.com'>
    <svg class='icon bttn--subscribe__icon'>
      <use xlink:href='#icon--google-podcasts'></use>
    </svg>
    Google
    <br>
    Podcasts
  </a>
</section>
