// ------------------------------------------------------------------
// UTILITIES: Type Size
// ------------------------------------------------------------------

@mixin type-size--XL {
  @include fluid-property(font-size, 34px, 70px);
  @include fluid-property(line-height, 44px, 78px);
  letter-spacing: -.02em;
}

.type-size--XL {
  @include type-size--XL;
}

@mixin type-size--L {
  @include fluid-property(font-size, 30px, 32px);
  @include fluid-property(line-height, 34px, 40px);
  letter-spacing: -.01em;
}

.type-size--L {
  @include type-size--XL;
}

@mixin type-size--M {
  @include fluid-property(font-size, 18px, 22px);
  @include fluid-property(line-height, 28px, 32px);
  letter-spacing: -.01em;
}

.type-size--M {
  @include type-size--M;
}

@mixin type-size--R {
  @include fluid-property(font-size, 16px, 18px);
  @include fluid-property(line-height, 24px, 32px);
  letter-spacing: -.02em;
}

.type-size--R {
  @include type-size--R;
}

@mixin type-size--S {
  @include fluid-property(font-size, 13px, 14px);
  @include fluid-property(line-height, 24px, 30px);
}

.type-size--S {
  @include type-size--S;
}
