// ------------------------------------------------------------------
// COMPONENTS: Logo
// ------------------------------------------------------------------

.blob--orange {
  fill: #FF7145;
  visibility: hidden;

  @media screen and (min-width: $BP--M) {
    visibility: visible;
  }
}

.blob--blue {
  fill: #65A2EA;
}

.blob--yellow {
  fill: #FFCE43;
}

.blob--green {
  fill: #48D8A8;
}

.check {
  fill: #000000;
}

.cross {
  fill: #000000;
  visibility: hidden;

  @media screen and (min-width: $BP--M) {
    visibility: visible;
  }
}

.blue__brow--L {
  fill: #000000;
}

.blue__eye--L {
  fill: #000000;
}

.blue__eye--R {
  fill: #000000;
}

.blue__brow--R {
  fill: #000000;
}

.blue__mouth {
  fill: #000000;
}

.blue__hand {
  fill: #000000;
}

.yellow__brow--L {
  fill: #000000;
}

.yellow__brow--R {
  fill: #000000;
}

.yellow__mouth {
  fill: #000000;
}

.yellow__eye--L {
  fill: #000000;
}

.yellow__eye--R {
  fill: #000000;
}

.yellow__eye--R {
  fill: #000000;
}

.yellow__hand {
  fill: #000000;
}
.logotype {
  fill: #000000;
}
