// ------------------------------------------------------------------
// COMPONENTS: Intro Pagination
// ------------------------------------------------------------------

.pagination {
  @include fluid-property(padding-top, 20px, 40px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include fluid-property(grid-gap, 10px, 20px);

  @media screen and (min-width: $BP--S) {
    display: flex;
    align-items: center;
  }

  &__trail {
    display: flex;
    @include fluid-property(grid-gap, 10px, 30px);
    @include fluid-property((margin-left, margin-right), 10px, 30px);
    display: none;
    @media screen and (min-width: $BP--S) {
      display: block;
    }
  }

  &__number {
    @include type-size--M;
    @include fluid-property((margin-left, margin-right), 10px, 30px);
    color: #999999;

    &--active {
      color: black;
    }
  }

  &__bttn {
    text-align: center;
  }
}
