// ------------------------------------------------------------------
// COMPONENTS: Mention
// ------------------------------------------------------------------

.mention-block {
  @extend .bttn;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  padding: 0px;

  &__headline {
    @include fluid-property((padding-left, padding-right, padding-top), 15px, 20px);
    @include type-size--L;
  }
  &__author {
    @include fluid-property((padding-left, padding-right, padding-bottom), 15px, 20px);
    @include type-size--R;
  }

  &__attribution {
    border-top: 2px solid black;
    @include fluid-property((padding-left, padding-right, padding-top, padding-bottom), 15px, 20px);
    grid-row: 4 / 5;
  }
  &__logo {
    @include fluid-property(height, 20px, 20px);
  }

  &:nth-child(3n+3) {
    background-color: #FF7145;
  }
  &:nth-child(3n+2) {
    background-color: #FFCE43;
  }
  &:nth-child(3n+1) {
    background-color: #65A2EA;
  }

  @media screen and (min-width: $BP--L) {
    &:nth-child(9n+9) {
      background-color: #65A2EA;
    }
    &:nth-child(9n+8) {
      background-color: #FF7145;
    }
    &:nth-child(9n+7) {
      background-color: #FFCE43;
    }
    &:nth-child(9n+6) {
      background-color: #FFCE43;
    }
    &:nth-child(9n+5) {
      background-color: #65A2EA;
    }
    &:nth-child(9n+4) {
      background-color: #FF7145;
    }
    &:nth-child(4n+3) {
      background-color: #FF7145;
    }
    &:nth-child(4n+2) {
      background-color: #FFCE43;
    }
    &:nth-child(4n+1) {
      background-color: #65A2EA;
    }
  }
}
