---
layout: frame
---

{% include page-title.html title=page.title %}
{% assign host = site.contributors | where: "is host", true | first %}
{% include person-block--large.html image=host.image title=host.title content=host.content links=host.links %}
<div class='section__label'>
  Panelists
</div>
<section class='panelists'>
  {% assign host = site.contributors | where: "is host", true | first %}
  {% for person in site.contributors %}
    {% if person == host %}
    {% else %}
      {% include person-block.html image=person.image title=person.title content=person.content links=person.links %}
    {% endif %}
  {% endfor %}
</section>
