---
layout: frame
pagination:
  enabled: true
  collection: episodes
  permalink: "/:num/"
---

{% assign episode_number_bottom = paginator.page | times: 1 %}
{% assign episode_number_top = paginator.page | times: 1 | plus: 1 %}
<section class='page__title {% if include.long == true %}page__title--long{% endif %} formatted-text'>
  Episodes {{ episode_number_bottom }} &#8212; {{ episode_number_top }}
</section>


{% for episode in paginator.posts %}
  {% include episode-item.html title=episode.title link=episode.url publish-date=episode.date description=episode.content people=episode.contributors %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  {% include pagination.html paginator=paginator %}
{% endif %}
