---
layout: frame
pagination:
  enabled: true
  collection: episodes
  permalink: "/:num/"
---

{% include page-title.html title=page.content long=true %}
<div class='section__label type-size--M'>
  Subscribe
</div>
{% include subscribe.html %}
<div class='section__label'>
  Latest Episodes
</div>
<section class='feed' data-section='feed'>
  {% for episode in paginator.posts %}
    {% include episode-item.html title=episode.title link=episode.url publish-date=episode.date description=episode.content people=episode.contributors media=episode.media %}
  {% endfor %}
</section>


{% if paginator.total_pages > 1 %}
  {% include pagination.html paginator=paginator %}
{% endif %}
