---
layout: frame
pagination:
  enabled: true
  collection: episodes
---

{% include intro.html content=page.content %}
<div class='section__label type-size--M'>
  Subscribe
</div>
{% include subscribe.html %}
<div class='section__label'>
  Latest Episodes
</div>
<section class='feed' data-section='feed'>
  {% for episode in paginator.posts %}
    {% include episode.html title=episode.title publish-date=episode.date description=episode.content people=episode.contributors %}
  {% endfor %}
</section>
{% if paginator.total_pages > 1 %}
  {% include pagination.html paginator=paginator %}
{% endif %}
