.feed__item
  .feed__item__title
    == {{include.title}}
  .feed__item__body
    .feed__item__description
      .feed__item__subhead
        == {{include.publish-date}}
      .feed__item__text
        == {{include.description}}
    .feed__item__contributors
      .feed__item__subhead
        Contributors
      .feed__item__people
        {% for person in people %}
        .feed__item__person
        .feed__item__person__img{style: "background-image: url('{{person.image}}')"}
        .feed__item__person__label
        == {{person.title}}
        {% endfor %}
