%section.pagination{data: {section: "pagination"}}
  .bttn.bttn--disabled.pagination__bttn.pagination__bttn--last
    Back
  %a.pagination__number.pagination__number--active(href="")
    1
  %a.pagination__number(href="")
    2
  %a.pagination__number(href="")
    3
  %a.pagination__number(href="")
    4
  .bttn.pagination__bttn--next
    Next
